<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="text-center">EMI Calculator</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <label class="form-label">Principal Amount (₹)</label>
          <input
            type="number"
            class="form-control"
            placeholder="Enter Principle Amount"
            [(ngModel)]="principal"
          />
          <!-- <p>{{principal}}</p> -->
        </div>
        <div class="col-md-4">
          <label class="form-label">Annual Interest Rate (%)</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="annualRate"
            placeholder="Enter Annual Interest Rate (%)"
          />
          <!-- <p>{{annualRate}}</p> -->
        </div>
        <div class="col-md-4">
          <label class="form-label">Tenure (months)</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="tenure"
            placeholder="Enter Tenure (months)"
          />
          <!-- <p>{{tenure}}</p> -->
        </div>

        <div class="d-flex justify-content-center gap-3 mt-4">
          <button class="btn btn-primary w-auto" (click)="calculateEmi()">
            Calculate EMI
          </button>

          <button class="btn btn-outline-secondary w-auto" (click)="reset()">
            Reset
          </button>
        </div>

        <p class="mt-5 text-center text-danger fw-bold fs-4">EMI: ₹{{ emi }}</p>
      </div>
    </div>
  </div>
</div>
