<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
  <a class="navbar-brand fw-bolder" href="#">Loanify App</a>

  <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="loanNavbar">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

      <li class="nav-item">
        <a class="nav-link"
           routerLink="/dashboard"
           routerLinkActive="active"
           >
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/customer" routerLinkActive="active">
          Customers
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/loans" routerLinkActive="active">
          Loans
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/reports" routerLinkActive="active">
          Reports
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/emi" routerLinkActive="active">
          EMI
        </a>
      </li>

    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
