<div class="container mt-4">
  <div class="row g-3">
    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3 dashboard-card">
        <div class="card-body">
          <h5 class="card-title">
            <span><i class="fas fa-money-bill"></i></span> Total Loans
          </h5>
          <p class="card-text display-6">{{ loans.length }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-white bg-success mb-3 dashboard-card">
        <div class="card-body">
          <h5 class="card-title">
            <span><i class="fa-solid fa-chart-line"></i></span> Active Loan
          </h5>
          <p class="card-text display-6">{{ pendingLoans }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-white bg-secondary mb-3 dashboard-card">
        <div class="card-body">
          <h5 class="card-title">
            <span><i class="fas fa-check-circle"></i></span> Approved Loan
          </h5>
          <p class="card-text display-6">{{ approvedLoans }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-success mb-3 dashboard-card">
        <div class="card-body">
          <h5 class="card-title">
            <span><i class="fas fa-lock"></i></span> Closed Loan
          </h5>
          <p class="card-text display-6">{{ closedLoans }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-white bg-danger mb-3 dashboard-card">
        <div class="card-body">
          <h5 class="card-title">
            <span><i class="fas fa-ban"></i></span> Rejected Loan
          </h5>
          <p class="card-text display-6">{{ rejectedLoans }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <div class="row mb-3">
      <div class="col-md-4">
        <select
          class="form-select"
          [(ngModel)]="filterStatus"
          (change)="filterByStatus(filterStatus)"
        >
          <option value="All">All</option>
          <option value="Pending">Pending</option>
          <option value="Approved">Approved</option>
          <option value="Closed">Closed</option>
          <option value="Rejected">Rejected</option>
        </select>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input
            type="text"
            pInputText
            [(ngModel)]="searchTerm"
            placeholder="Search By Customer Name, Loan Id, Amount, EMI, Status"
          />

          <p-button
            label="Search"
            icon="pi pi-search"
            severity="primary"
            class="mr-2"
            (click)="filterBySearch()"
          >
          </p-button>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end mb-3">
      <button class="btn btn-success me-2 shadow-sm" (click)="exportToExcel()">
        <i class="fas fa-file-excel me-1"></i> Export to Excel
      </button>
      <button class="btn btn-danger shadow-sm" (click)="exportToPDF()">
        <i class="fas fa-file-pdf me-1"></i> Export to PDF
      </button>
    </div>

    <div class="card">
      <div class="card-header bg-primary text-white fw-bold text-center">
        List of Recent Loans
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead class="table-light">
              <tr>
                <th>Loan ID</th>
                <th>Customer Name</th>
                <th (click)="sortByAmount()" style="cursor: pointer">
                  Amount
                  <i
                    class="ms-1"
                    [ngClass]="
                      sortDirectionAmount === 'asc'
                        ? 'fa-solid fa-arrow-up'
                        : 'fa-solid fa-arrow-down'
                    "
                  ></i>
                </th>
                <th (click)="sortByEmi()" style="cursor: pointer">
                  EMI
                  <i
                    class="ms-1"
                    [ngClass]="
                      sortDirectionEmi === 'asc'
                        ? 'fa-solid fa-arrow-up'
                        : 'fa-solid fa-arrow-down'
                    "
                  ></i>
                </th>
                <th>
                  Status
                  <!-- <i
                    class="ms-1"
                    [ngClass]="
                      sortDirection === 'asc'
                        ? 'fa-solid fa-arrow-up'
                        : 'fa-solid fa-arrow-down'
                    "
                  ></i> -->
                </th>
                <th>
                  Created-Date
                  <!-- <i
                    class="ms-1"
                    [ngClass]="
                      sortDirection === 'asc'
                        ? 'fa-solid fa-arrow-up'
                        : 'fa-solid fa-arrow-down'
                    "
                  ></i> -->
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let loan of paginationLoan" class="light-row">
                <td>{{ loan.id }}</td>
                <td>{{ loan.customerName }}</td>
                <td>{{ loan.amount }}</td>
                <td>{{ loan.emi }}</td>
                <td>
                  <span
                    class="badge"
                    [ngClass]="{
                      'bg-success': loan.status === 'Approved',
                      'bg-warning': loan.status === 'Pending',
                      'bg-danger': loan.status === 'Rejected',
                      'bg-secondary': loan.status === 'Closed'
                    }"
                  >
                    {{ loan.status }}
                  </span>
                </td>
                <td>{{ loan.createdDate | date }}</td>
              </tr>
            </tbody>
          </table>
          <div
            *ngIf="filterLoans.length === 0"
            class="alert alert-info text-center"
          >
            No loans found.
          </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
          <button
            class="btn btn-secondary me-2"
            (click)="changePage(currentPage - 1)"
            [disabled]="currentPage === 1"
          >
            Previous
          </button>
          <span class="me-3 align-self-center">
            Page {{ currentPage }} of {{ totalPage }}
          </span>

          <button
            class="btn btn-secondary"
            (click)="changePage(currentPage + 1)"
            [disabled]="currentPage === totalPage"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
