<h3 class="text-center fw-bold text-dark mb-4 mt-4">Customer Details</h3>
<div class="d-flex justify-content-end mb-3">
  <button class="btn btn-success me-2 shadow-sm" (click)="exportToExcel()">
    <i class="fas fa-file-excel me-1"></i> Export to Excel
  </button>
  <button class="btn btn-danger shadow-sm" (click)="exportToPDF()">
    <i class="fas fa-file-pdf me-1"></i> Export to PDF
  </button>
</div>
<table class="table mb-0 border-dark">
  <thead class="table-light">
    <tr>
      <th>Loan/Customer-ID</th>
      <th>Customer Name</th>
      <th>Outstanding Amount</th>
      <th>Status</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>DOB</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.outstandingAmount }}</td>
      <td>{{ customer.status }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.dob }}</td>
      <td><button class="btn btn-sm btn-primary"(click)="viewCustomerDetails(customer.id)">View</button></td>
    </tr>
  </tbody>
</table>
