<h4 class="text-center fw-bold mb-4 mt-4">Loan Details</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Loan ID</th>
      <th>Name</th>
      <th>Amount</th>
      <th>EMI</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let loan of loans">
      <td>{{ loan.id }}</td>
      <td>{{ loan.customerName }}</td>
      <td>{{ loan.amount }}</td>
      <td>{{ loan.emi }}</td>
      <td>
                  <span
                    class="badge"
                    [ngClass]="{
                      'bg-success': loan.status === 'Approved',
                      'bg-warning': loan.status === 'Pending',
                      'bg-danger': loan.status === 'Rejected',
                      'bg-secondary': loan.status === 'Closed'
                    }"
                  >
                    {{ loan.status }}
                  </span>
                </td>
    </tr>
  </tbody>
</table>



