<div class="container mt-4">
  <div class="row g-3">
    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3 dashboard-card">
        <div class="card-body">
          <h5 class="card-title">
            <span><i class="fas fa-money-bill"></i></span> Total Loans
          </h5>
          <p class="card-text display-6">{{ count }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-success mb-3 dashboard-card">
        <div class="card-body">
          <h5 class="card-title">
            <span><i class="fa-solid fa-chart-line"></i></span> Approved Loans
          </h5>
          <p class="card-text display-6">{{ activeCount }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-secondary mb-3 dashboard-card">
        <div class="card-body">
          <h5 class="card-title">
            <span><i class="fa-solid fa-chart-line"></i></span> Closed Loans
          </h5>
          <p class="card-text display-6">{{ closedCount }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-danger mb-3 dashboard-card">
        <div class="card-body">
          <h5 class="card-title">
            <span><i class="fa-solid fa-chart-line"></i></span> Rejected Loans
          </h5>
          <p class="card-text display-6">{{ rejectedCount }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3 dashboard-card">
        <div class="card-body">
          <h5 class="card-title">
            <span><i class="fa-solid fa-chart-line"></i></span> Outstanding
            Amount
          </h5>
          <p class="card-text display-6">{{ outstanding }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 class="text-center fw-bold mb-4 mt-4">Loan Details</h4>
<div class="d-flex justify-content-end mb-3">
  <button class="btn btn-success me-2 shadow-sm">
    <i class="fas fa-file-excel me-1"></i> Export to Excel
  </button>
  <button class="btn btn-danger shadow-sm">
    <i class="fas fa-file-pdf me-1"></i> Export to PDF
  </button>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Loan/Customer-ID</th>
      <th>Name</th>
      <th>Amount</th>
      <th>EMI</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let loan of loans">
      <td>{{ loan.id }}</td>
      <td>{{ loan.customerName }}</td>
      <td>{{ loan.amount }}</td>
      <td>{{ loan.emi }}</td>
      <td>
        <span
          class="badge"
          [ngClass]="{
            'bg-success': loan.status === 'Approved',
            'bg-warning': loan.status === 'Pending',
            'bg-danger': loan.status === 'Rejected',
            'bg-secondary': loan.status === 'Closed'
          }"
        >
          {{ loan.status }}
        </span>
      </td>
    </tr>
  </tbody>
</table>
